<div class="card my-5">
    <div class="card-body" *ngIf="note">
        <form (ngSubmit)="onSubmit()" #noteModifyForm="ngForm">
        <div class="form-group">
          <label for="detail">Detail</label>
          <input type="text" [(ngModel)]="note.noteDetail" 
            class="form-control" 
            id="detail" 
            name="detail" 
            placeholder="Enter note"
            required #name="ngModel">
        </div>
        <button type="submit" [disabled]="!noteModifyForm.form.valid" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>